body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #333;
  margin-top: 0;
}

.board {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #eee;
  cursor: pointer;
  font-size: 40px;
  color: #333;
  transition: background-color 0.3s;
}

.cell:hover {
  background-color: #ddd;
}

.cell.x {
  color: #f00;
}

.cell.o {
  color: #00f;
}

#resetButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#resetButton:hover {
  background-color: #555;
}